<nav class="bg-cyan-100 p-4 flex flex-wrap gap-4 items-center">

    <a href="{{ path('main_home') }}">
        <img src="{{ asset('images/logocdm1.png') }}" class="h-10">
    </a>

    <a href="{{ path('main_home') }}" class="text-pink-400 font-semibold hover:text-teal-500">
        Accueil
    </a>

    <a href="{{ path('recette_list') }}" class="text-pink-400 font-semibold hover:text-teal-500">
        Recettes
    </a>

    <a href="{{ path('main_projet') }}" class="text-pink-400 font-semibold hover:text-teal-500">
        Le Projet
    </a>

    {% if app.user %}

        <a href="{{ path('recette_create') }}"
           class="md:ml-auto bg-white text-pink-400 font-semibold px-4 py-2 rounded hover:bg-pink-100">
            Ajouter Recette
        </a>

        <a href="{{ path('app_logout') }}"
           class="text-pink-400 font-semibold hover:text-teal-500">
            Déconnexion
        </a>

        <a href="{{ path('mon_espace') }}"
           class="flex items-center gap-2 text-pink-400 font-semibold hover:text-teal-500">
            👤 {{ app.user.name }}
        </a>

        {% if is_granted("ROLE_ADMIN") %}
            <a href="{{ path('admin_dashboard') }}"
               class="bg-white text-pink-400 font-semibold px-4 py-2 rounded hover:bg-pink-100">
                Espace Admin
            </a>
        {% endif %}

    {% else %}

        <a href="{{ path('app_login') }}"
           class="md:ml-auto text-pink-400 font-semibold hover:text-teal-500">
            Connexion
        </a>

    {% endif %}

</nav>
