
{{ form_start(recetteForm, {'attr': {'novalidate': 'novalidate', }}) }}

{{ form_errors(recetteForm) }}

<div class="flex flex-col gap-4 p-4 w-full max-w-3l">
    <div class="w-1/2">

        {{ form_label(recetteForm.titre, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full '}}) }}
        {{ form_widget(recetteForm.titre,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}
        <div class="text-red-700"></div>{{ form_errors(recetteForm.titre) }}

        {{ form_label(recetteForm.description, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.description,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}



        {{ form_label(recetteForm.preparationTime, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.preparationTime,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.cooktime, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.cooktime,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.date, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.date,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}


        {{ form_label(recetteForm.servings, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.servings,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.difficulty, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.difficulty,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.category, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.category,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}


        {{ form_label(recetteForm.season, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.season,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.status, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.status,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.place, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.place,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.activity, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.activity,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.public, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.public,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.producer, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.producer,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {{ form_label(recetteForm.picture, null,  {'attr': {'class': 'border border-slate-500 rounded p-2 w-full'}}) }}
        {{ form_widget(recetteForm.picture,  {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 w-full text-black '}}) }}

        {# Ingrédients #}
        <div class="mt-4">
            <p class="bg-slate-200 rounded p-2 w-full mb-2 mt-6">Ingrédients</p>
            <div id="ingredients-collection"
                 data-prototype="{{ form_widget(recetteForm.ingredients.vars.prototype) | e('html_attr') }}">
                {% for ingredient in recetteForm.ingredients %}
                    <div class="ingredient-item flex justify-end gap-2 mb-2">
                        {{ form_widget(ingredient.name, {'attr': {'class': 'bg-slate-100 rounded-lg px-4 py-2 text-black'}}) }}
                        {{ form_widget(ingredient.quantity, {'attr': {'class': 'bg-slate-100 rounded-lg px-4 py-2 text-black w-24'}}) }}
                        {{ form_widget(ingredient.unit, {'attr': {'class': 'bg-slate-100 rounded-lg px-4 py-2 text-black w-24'}}) }}
                        {% do ingredient.setRendered() %}

                        {% if ingredient.vars.data.id %}
                            <a href="{{ path('ingredient_delete', {id: ingredient.vars.data.id}) }}" class="bg-red-500 text-white px-3 py-2 rounded ml-2">Supprimer</a>
                        {% endif %}
                    </div>


                {% endfor %}
            </div>





        </div>

        {# Étapes #}
        <div class="mt-5">
            <p class="bg-slate-200 rounded p-2 w-full mb-2 mt-6">Étapes</p>
            <div id="steps-collection"
                 data-prototype="{{ form_widget(recetteForm.steps.vars.prototype) | e('html_attr') }}">

                {% for step in recetteForm.steps %}
                    <div class="step-item flex gap-2 mb-2 w-full">
                        {{ form_widget(step.number, {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 text-black w-24'}}) }}
                        {{ form_widget(step.description, {'attr': {'class': 'bg-slate-200 rounded-lg px-4 py-2 text-black flex-1'}}) }}
                        {% do step.setRendered() %}
                        {% if step.vars.data.id %}
                            <a href="{{ path('step_delete', {id: step.vars.data.id}) }}" class="bg-red-500 text-white px-3 py-2 rounded ml-2">Supprimer</a>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <button type="button" id="add-step" class="bg-pink-400 text-white p-2 rounded mt-2">+ Étape</button>
        </div>


        <button type="submit" class="bg-pink-400 text-white p-2 rounded mt-6 mb-10 ml-auto block ">
            {{ submitLabel?? 'Enregistrer' }}
        </button>

    </div>
</div>

{{ form_end(recetteForm, {'render_rest': false}) }}

