{% extends 'base.html.twig' %}


{% block title %} Modifier une recette "{{ recette.titre }}| {{ parent() }}  {% endblock %}


{% block body %}
    <h1>Modifier une recette</h1>



    <div class="text-gray-600 ml-33 ">
        {{ include('recette/_form.html.twig', {submitLabel: "Modifier la recette"} ) }}
    </div>


    {% if recette.picture %}
        <div>
            <img src="{{ asset('uploads/images/'~recette.picture) }}"
                 alt="Representation de recette {{ recette.titre }}"
                 class="w-40 h-40 object-cover rounded ml-36">
        </div>
    {% endif %}

    <a href="{{ path('ingredient_add', {recetteId: recette.id}) }}" class="bg-pink-400 text-white p-2 rounded mt-2 mb-10 w-1/12 text-center block ml-38">+ Ingrédient</a>

    <a href="{{ path('step_add', {recetteId: recette.id}) }}" class="bg-pink-400 text-white p-2 rounded mt-2 mb-10 w-1/12 text-center block ml-38">+ Etape</a>


{% endblock %}

