{% extends 'base.html.twig' %}

{% block title %}
    Toutes les recettes | {{ parent () }}
{% endblock %}



{% block body %}
    <article class=" grid grid-cols-1 gap-4 text-slate-500 ml-35 mr-35 mb-15 ">
        <h1 class="text-[3rem]">Toutes Les Recettes {{ parent() }}</h1>

        {% for recette in recettes %}

            <div class="flex gap-8 mt-4 border border-gray-300 rounded p-4">
                <div class="w-1/4">
                    <p class="font-bold ">Recette</p>
                    <a href="{{ path('recette_detail', {id: recette.id}) }}"
                       title="voir le détail de la recette"> {{ recette.titre }}</a>
                </div>

                <div>
                    <p class="font-bold">Categorie</p>
                    <p>{{ recette.category.nameCategory }}</p>
                </div>

                <div>
                    <p class="font-bold">Auteur</p>
                    <p>{{ recette.user ? recette.user.userName : 'Non défini' }}</p>
                </div>


                <div>
                    <p class="font-bold">Temps de cuisson</p>
                    <p>{{ recette.cookTime }} </p>
                </div>

                <div>
                    <p class="font-bold">Temps de préparation</p>
                    <p>{{ recette.preparationTime }} </p>
                </div>




                <div>
                    <p class="font-bold">Date creation</p>
                    <p>{{ recette.dateCreated | date ("d-m-y") }}</p>
                </div>




                <div>
                    <p class="font-bold ">Modifier</p>
                    <a href="{{ path('recette_edit', {id: recette.id}) }}"
                       title="modifier la recette"> {{ recette.titre }}</a>
                </div>




            </div>


        {% endfor %}


    </article>
{% endblock %}


