{% extends 'base.html.twig' %}

{% block title %}
    Toutes les recettes | {{  parent () }}
{% endblock %}

{% block body %}
 <h1> Toutes mes recettes</h1>

    <table class="table">
        <thead>
        <tr>
        <td>Titre</td>
            <td>Temps de coocion </td>
        <td> Date </td>
        </tr>
        </thead>

        <tbody>
        {% for recette in recettes %}
        <tr>
            <td><a href="{{ path('recette_detail', {id: recette.id}) }}" title ="voir le détail de la recette"> {{ recette.titre }}</a></td>
            <td>{{ recette.cooktime }}</td>
            <td> {{ recette.dateCreated | date ("d-m-y")}}</td>
        </tr>
        {% endfor %}
        </tbody>


    </table>
{% endblock %}



