{% extends 'base.html.twig' %}

{% block title %}
    Toutes les recettes | {{ parent () }}
{% endblock %}



{% block body %}
    <article class=" grid grid-cols-1 gap-4 text-slate-500 ml-35 mr-35 mb-15 ">
        <h1 class="text-[3rem]">Toutes Les Recettes {{ parent() }}</h1>

        {% for recette in recettes %}

            <div class="flex gap-0 mt-4 border border-gray-300 rounded p-4">

                <div class="w-96  flex-shrink-0 ml-5 mr-5">
                    <p class="font-bold">Recette</p>
                    <a href="{{ path('recette_detail', {id: recette.id}) }}"
                       title="{{ recette.titre }}"
                       class="block truncate">{{ recette.titre }}</a>
                </div>

                <div class="w-1/8  ">
                    <p class="font-bold text-Slate-700 ">Auteur</p>
                    <p>{{ recette.user ? recette.user.userName : 'Non défini' }}</p>
                </div>

                <div class="w-1/8">
                    <p class="font-bold text-Slate-700">Cuisson</p>
                    <p>{{ recette.cookTime }} min</p>
                </div>

                <div class="w-1/8">
                    <p class="font-bold text-Slate-700">Préparation</p>
                    <p>{{ recette.preparationTime }} min</p>
                </div>

                <div class="w-1/8">
                    <p class="font-bold text-Slate-700">Date de l'événement</p>
                    <p>{{ recette.dateCreated | date ("d-m-y") }}</p>
                </div>


                <div class="w-24 h-24 flex-shrink-0 ">
                    {% if recette.picture %}
                        <img src="{{ asset('uploads/images/'~recette.picture) }}"
                             alt="{{ recette.titre }}"
                             class="w-full h-full object-cover">
                    {% else %}
                        <span class="text-slate-400">Pas de photo</span>
                    {% endif %}
                </div>


                {% if is_granted("ROLE_ADMIN") %}
                    <div class="w-1/8 h-24 flex-shrink-0 ml-6 ">
                        <p class="font-bold text-pink-400 ">Modifier</p>
                        <a href="{{ path('recette_detail', {id: recette.id}) }}"
                           title="{{ recette.titre }}"
                           class="block truncate">{{ recette.titre }}</a>
                    </div>
                {% endif %}


            </div>


        {% endfor %}


    </article>
{% endblock %}


