{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} |
{% endblock %}

{% block body %}
    <div class="flex min-h-screen">

        {# Gauche - photo #}
        <div class="w-1/2">
            <img src="{{ asset('images/home.png') }}" class="w-full h-full object-cover">
        </div>

        {# Droite - 4 saisons #}
        <div class="w-1/2 p-8">
            <h1 class="text-3xl font-bold text-pink-500 mb-8">Les Recettes du CDM</h1>

            <div class="grid  gap-4">

               <div>
                   <a href="{{ path('recette_list', {saison: 'Printemps'}) }}"
                   class="bg-slate-100 rounded-lg p-6 h-40 flex items-center justify-center hover:bg-pink-200"><p
                           class="text-slate-500 font-semibold text-xl">🌸 Printemps</p> </a></div>

                <div><a href="{{ path('recette_list', {saison: 'été'}) }}"
                        class="bg-slate-100 rounded-lg p-6 h-40 flex items-center justify-center hover:bg-green-200"><p
                            class="text-slate-500 font-semibold text-xl">🌸 ete</p> </a></div>


                <div><a href="{{ path('recette_list', {saison: 'Automne'}) }}"
                        class="bg-slate-100 rounded-lg p-6 h-40 flex items-center justify-center hover:bg-yellow-200"><p
                            class="text-slate-500 font-semibold text-xl">🌸 Automne</p> </a></div>


                <div><a href="{{ path('recette_list', {saison: 'Hiver'}) }}"
                        class="bg-slate-100 rounded-lg p-6 h-40 flex items-center justify-center hover:bg-amber-200"><p
                            class="text-slate-500 font-semibold text-xl">🌸 Hiver</p> </a></div>


            </div>

            </div>
        </div>

    </div>
{% endblock %}
