{% extends 'base.html.twig' %}

{% block title %}
    {{ parent() }} |
{% endblock %}

{% block body %}
    <div class="flex min-h-screen">

        {# Gauche - photo #}
        <div class="w-1/2">
            <img src="{{ asset('images/home.png') }}" class="w-full h-full object-cover">
        </div>

        {# Droite - 4 saisons #}
        <div class="w-1/2 p-8">
            <h1 class="text-3xl font-bold text-pink-500 mb-8">Les Recettes du CDM</h1>

            <div class="grid  gap-4">


                <a href="{{ path('recette_list', {saison: 'Printemps'}) }}"
                   class="bg-slate-100 rounded-lg p-6 h-45 flex items-center justify-center gap-3 hover:bg-pink-200 ">
                    <img src="{{ asset('images/icone fleur.png') }}" class="w-20 h-20">
                    <p class="text-slate-500 font-semibold text-xl w-32">Printemps</p> </a>

                <a href="{{ path('recette_list', {saison: 'été'}) }}"
                   class="bg-slate-100 rounded-lg p-6 h-45 flex items-center justify-center gap-3 hover:bg-green-200">
                    <img src="{{ asset('images/iconete.png') }}" class="w-20 h-20">
                    <p class="text-slate-500 font-semibold text-xl w-32">Ete</p> </a>

                <a href="{{ path('recette_list', {saison: 'Automne'}) }}"
                   class="bg-slate-100 rounded-lg p-6 h-45 flex items-center justify-center gap-3 hover:bg-amber-200">
                    <img src="{{ asset('images/iconeautome.png') }}" class="w-20 h-20">
                       <p class="text-slate-500 font-semibold text-xl w-32">Aumome</p> </a>


                <a href="{{ path('recette_list', {saison: 'Hiver'}) }}"
                   class="bg-slate-100 rounded-lg p-6 h-45 flex items-center justify-center gap-3 hover:bg-blue-200">
                    <img src="{{ asset('images/hiver.png') }}" class="w-20 h-20">
                    <p class="text-slate-500 font-semibold text-xl w-32">Hiver</p> </a>




            </div>

            </div>
        </div>

    </div>
{% endblock %}
