{% extends 'base.html.twig' %}
{% block title %}Testounet | {{ parent() }}{% endblock %}


{% block body %}

    <h1>test</h1>

    <p>{{ "yesterday"|date("d-m-Y") }}</p>
    {% set name= "Silvia" %}
    <p>{{ name }} - {{ name | length }}</p>

    {% set colors = ["blue","black","red","pink"] %}
    {% for color in colors %}
        <p> {{ colors | length }} coleurs</p>

        <div style="background-color: {{ color }}; padding: 15px" :>{{ color }}</div>
    {% endfor %}

    {% set book = {
        title: 'Symfony',
        year: 2026,
        author: 'Sia',
    } %}
    {% for mie, val in book %}
        <dl>
            <dt>{{ mie }}</dt>
            <dd>{{ val }}</dd>
        </dl>
    {% endfor %}

{% endblock body %}
