<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>testDOS</h1>

{# c'est un commentaire#}
{% set name= "Silvia" %}
<p>{{ name }}</p>

{% set colors = ["blue","black","red","pink"] %}
{% for color in colors %}

    <div style="background-color: {{ color }}; padding: 15px":>{{ color }}</div>
{%  endfor %}

{% set book = {
    title: 'Symfony',
    year: 2026,
    author: 'Sia',
}
%}
{% for mie, val in book %}
<dl>
    <dt>{{ mie }}</dt>
    <dd>{{  val }}</dd>
</dl>
{% endfor %}
</body>
</html>
